.catalogue{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card-movie{
  flex: 1 1;
  background-color: blueviolet;
  max-width: 300px;
  min-width: 250px;
  height: 450px;
}

.photo{
  width: 280px;
  height: 240px;
}